<!DOCTYPE HTML>
<html class="no-js">
<head>
  {{- partial "head.html" . -}}
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
<!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
  {{- partial "header.html" . -}}

  {{- block "hero" . }}{{- end }}

  {{- block "main" . }}{{- end }}

  {{- partial "footer.html" . -}}
</div>

{{- partial "scripts.html" . -}}
</body>
</html>
