<!-- Hero Area / Page Banner -->
<div class="hero-area">
  <div class="page-banner parallax" style="background-image: linear-gradient(to right, #247d71, #317ea8);">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">{{ .Title }}</h1>
      </div>
      {{ with .Params.banner_image }}
        <img style="float: right; margin-left: 100px; margin-top: 70px;" width="20%" src="{{ . | relURL }}">
      {{ else }}
        <img style="float: right; margin-left: 100px; margin-top: 70px;" width="20%" src="{{ "images/bem2026.png" | relURL }}">
      {{ end }}
    </div>
  </div>
</div>
