<script src="{{ "js/jquery-2.1.3.min.js" | relURL }}"></script>
<script src="{{ "vendor/magnific/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "js/ui-plugins.js" | relURL }}"></script>
<script src="{{ "js/helper-plugins.js" | relURL }}"></script>
<script src="{{ "vendor/owl-carousel/js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.js" | relURL }}"></script>
<script src="{{ "js/init.js" | relURL }}"></script>
<script src="{{ "vendor/flexslider/js/jquery.flexslider.js" | relURL }}"></script>
<script src="{{ "js/circle-progress.js" | relURL }}"></script>
